---
# Python
**/__pycache__
*.pyc
*.pyo
*.pyd
*.so

# Distribution
build/
dist/
*.egg-info/

# Development
.venv/
.env

# Tests
.pytest_cache/
.coverage

# Miscellaneous
.DS_Store
*.swp
*~
.vscode/

chat.md